/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}




/* actual styles */

a{

color:black;
text-decoration: none;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
}

a:hover{

	color:black;
	text-decoration: none;
	}
.username {
    color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 50px 0 10px 0 ;
}

.adminname {
    color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 30px 0 15px 5px ;
	display:inline-block;

}

.left-container {
	z-index: 4;
width: 10vw;

top:0;
left: 0;

position: sticky;
min-width:370px;
height: 100vh;
box-shadow: 0px 0px 10px #bebebe;
-webkit-box-shadow: 0px 0px 10px #bebebe;
-moz-box-shadow: 0px 0px 10px #bebebe;
}
.right-container {
	background-color: #f5f5f5;
	padding:0px 10px 0px 10px;
	width:100%;
	/*min-width: 1400px;*/

}
.userpanel  {

	display:block;
	width: 100%;
	height: 50vh;
	background-image: url("gfx/bg.jpg");
}

.logocontainer {
	display:flex;
	flex-direction: row;
}
.logo {
	width: 82px;
	height:65px;
	background-image: url("gfx/logo.png");
	background-repeat: no-repeat;
	background-size: auto;

}

.userpanel-content{
	padding: 30px 30px 30px 30px;
}
.adminpanel-content{
	padding: 30px 30px 30px 30px;
}
.logotext-container{
	display:block;
	padding: 5px 0 5px 0;
}
.logotitle {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	padding: 0px 0 0px 10px;
	vertical-align: top;
}

.logotitle2 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	padding: 0px 0 0px 10px;
	vertical-align: top;
	
}

.hl {
    border-top: 4px solid white;
	width: 100%;
	transform: scaleX(0);
	transform-origin: left;
	animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
	animation-delay: 0.4s;
}


.hlb {
    border-top: 4px solid black;
	width: 100%;
	transform: scaleX(0);
	transform-origin: left;
	animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
	

	animation-delay: 0.4s;
}
.adminpanel {
		width: 100%;
	height: 50vh;
	background-image: url("gfx/admin-bg.jpg");
}


#icoadmin{
	width:20px;
	height:20px;
	display:inline-block;

}


#logout,  #mapview, #login, #add, #edit, #dictionary{
	margin: 20px 8px 0 0 ;
	bottom:15px;
	width:20px;
	height:20px;
	cursor:pointer;  
	vertical-align: -4px;

}
#arrow, #mapico2 {
	margin: 0px 8px 0 0 ;
	bottom:15px;
	width:20px;
	height:20px;
	cursor:pointer;  
	vertical-align: -4px;
}

#arrow1 {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	margin: 0px 5px 0 0 ;
	bottom:15px;
	width:15px;
	height:20px;
	cursor:pointer;  
	vertical-align: -4px;
}

#arrow2 {

	margin: 0px 0px 0 5px ;
	bottom:15px;
	width:15px;
	height:20px;
	cursor:pointer;  
	vertical-align: -4px;
}



h4{
	display:inline-block;
	color: white;
	cursor:pointer;  

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	vertical-align: top;
	padding: 21px 0 0 0px ;

	
}

.flexbox-container {
	display:flex;
	width:100%;
}
.username {
	-webkit-animation: slideIn 1s ease-in-out;

}



@-webkit-keyframes slideIn {
	0% {
	  transform: translateX(-20px);
	  opacity: 0;

	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }

  
@-webkit-keyframes slideDown {
	0% {
	  transform: translateY(-20px);
	  opacity: 0;

	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }

  @-webkit-keyframes opaCity {
	0% {
	  opacity: 0;

	}
	100% {
	  opacity: 1;
	}
  }

  @-webkit-keyframes grow {
	from {
		transform: scaleX(0);
	  }
	  to {
		transform: scaleX(1);
	  }
  }

#textbigger, #textsmaller, #contrastoff, #contraston, #pl, #en, #de {
	cursor: pointer;
	transition: ease-in-out 100ms;

	opacity: 0.5
}
#textbigger:hover, #textsmaller:hover, #contrastoff:hover, #contraston:hover, #pl:hover, #en:hover, #de:hover{
	transition: ease-in-out 100ms;
	cursor: pointer;
	opacity: 1;
}


img:hover {
	transition: transform 200ms;

	background-color: transparent;
	/*box-shadow: 0px 0px 10px #49ce54;
	-webkit-box-shadow: 0px 0px 10px #49ce54;
	-moz-box-shadow: 0px 0px 10px ##49ce54; */
	transform: translateY(-2px);

	

}

.table-editing {
	-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;   
-ms-user-select: none;    
-o-user-select: none;

display:flex;
position: fixed;
width: 100%;
left: 370px;
user-select: none;  
z-index: 4;
	height: 80px;
	background-color: white;
}

.language-and-accessibility{
	right:10px;
	top:25px;
	position:fixed;
}
.language-icons{
	-webkit-animation: slideDown 1s 0.5s both;



	position: relative;

	cursor: pointer;
}

.accessibility-icons{
	-webkit-animation: slideDown 1s 0.5s both;

	position: relative;

	cursor: pointer;
}

.adminbutton {
	height: 70px;
	cursor:pointer;
	margin: 10px 10px 0 0 ;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding: 0 10px 0 0 ;

}

.loginala{
	display:block;
	position: absolute;
	height: 70px;
	cursor:pointer;
	margin: 10px 10px 0 0 ;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding: 30px 30px 30px 30px ;
	bottom: 40px;
}

.treeview, .mapview, .editcol {
	-webkit-animation: slideDown 1s 0.5s both;
	
	
	
	display: inline-block;
	height: 70px;
	cursor:pointer;
	width: 170px;
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding: 5px 5px 20px 20px;
	margin: 0 5px 0 0;


	}

	.treeview:hover, .mapview:hover, .editcol:hover {
		transition: box-shadow 200ms;
		
		box-shadow: 0px 0px 10px #bebebe;
		-webkit-box-shadow: 0px 0px 10px #bebebe;
		-moz-box-shadow: 0px 0px 10px #bebebe;
	
	}


table {
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	border-collapse: separate;
	border-spacing:0 15px;
	

	margin-top: 80px;	
	z-index: 2;
	position: relative;
	
	-webkit-animation: opaCity 0.7s 0.5s both;

	width: 100%;



}



.idcol {
	width: 40px;
	min-width: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

td {
	padding: 12px;
	height:80px;
	text-align: left;
	min-width: 120px;
	border: none;
	background-color:white;
}

th {
	height:50px;
	padding: 15px;
	min-width: 120px;


    text-align: left;
	border: none;
	vertical-align: middle;
}

thead{
	background-color: white;
}



/*
tr:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
} */
tbody{

	margin-left:20px;
	width:100%;
	margin: 0 auto;
	margin-bottom:20px;
	text-align:center;
}
.headtable{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 18px;
	background-color: white;
	height:80px;
	min-width: 150px;
	
}


table tbody tr:hover {
	transition: box-shadow 200ms;
	box-shadow: 0px 0px 10px #bebebe;
	-webkit-box-shadow: 0px 0px 10px #bebebe;
	-moz-box-shadow: 0px 0px 10px #bebebe;

}

.mapbutton {
	display:block;
	width:80px;
	height:10px;
	background-color: #e23
	cursor:pointer;  

}


.tbodydiv {
	margin: 0 0 0 30px;
}


.inputcontainer {
	position: absolute;
	right: 30px;
	bottom: 40px;
	display: block;
}


input[type=number] { 

	background-color: transparent;
	border: 1px solid rgb(138, 138, 138);

	width: 30px;
	height:40px;
	text-align: center;
	color: gray;
	font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;

	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0; 
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}










@media screen and (max-width: 1720px) {


	.adminbutton {
		display:block;
	}
    .right-container {
		background-color: #f5f5f5;
		padding:0px 10px 0px 10px;
		width:auto;	
		min-width: 0;
		display:block;				
	}

	.left-container {
		width: 100%;
		height:300px;
		position:relative;
		}

	.userpanel{
		display: inline-block;
		float:left;
		height: 100px;
		width:50%;

	}

	.adminpanel {
		display: inline-block;
		float:left;
		height: 100px;
		width:50%;

	}

.logocontainer{
	width:200px;
}
	.accessibility-icons, .language-icons {
		display:flex;
		position: relative;

	}
.flexbox-container {
	display:block;
}
.username{
	display: inline-block;
	margin:20px 0 10px 0 ;
	color: black;

}

.adminbutton{
	display: inline-block;
}

.loginala {
	display:block;
	position:relative;
}
table {
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	display:block;
	border-collapse: separate;
	border-spacing:0 15px;
	margin: auto;	
	z-index: 2;
	position: relative;
	top: -80px;
	overflow: auto;
	width:100%;

}
h4{
	color:black;
}
.hl, .hlb{
	border-top: 4px solid black;
	width: 300px;


}
}
/*
@media screen and (max-width: 500px) {


	.right-container {
		background-color: #f5f5f5;
		padding:0px 10px 0px 10px;
		width:auto;					
	}

.adminpanel-content{
	width:200px;
	display:inline-block;

}
table {
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	display:table;
	border-collapse: separate;
	border-spacing:0 15px;
	margin: auto;	
	z-index: 2;
	position: relative;
	top: -80px;
	overflow: auto;
	width:100%;

}

	
	.flexbox-container {
		display:flex; 
		flex-direction: column;
		width:100%;
	}

	.left-container {
		z-index: 4;
		height: 50px;
	box-shadow: 0px 0px 10px #bebebe;
	-webkit-box-shadow: 0px 0px 10px #bebebe;
	-moz-box-shadow: 0px 0px 10px #bebebe;
	}

	.userpanel  {
		display:inline-block;
		width: 50%;
		height: 50px;
		background-image: url("gfx/bg.jpg");
	}

	.adminpanel {
		display:inline-block;

		width: 50%;
		height: 50px;
		background-image: url("gfx/admin-bg.jpg");
	}


	.adminpanel {
		width: 500%;
	height: 50px;
	background-image: url("gfx/admin-bg.jpg");
	}

	
}

*/
